/* 
    Created on : 24/08/2015, 00:17:40
    Author     : Alex
*/

.thumb {
  width: 190px;
  height: 107px;
}

li .thumb {
  
}
ul.lightGallery { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
ul.lightGallery li { 
  display: inline;
}